body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 580px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h1 {
    text-align: center;
    color: #1e3a8a;
    font-size: 30px;
    margin: 0;
}

.input-container,
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.input-container input,
.filter-container input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
    max-width: 300px;
}

.input-container select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
    max-width: 100px;
}

.input-container input:focus,
.filter-container input:focus {
    border-color: #1e3a8a;
    outline: none;
}

#add-task-btn,
#toggle-all-completed-btn {
    padding: 12px 20px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    flex-shrink: 0;
}

#add-task-btn:hover,
#toggle-all-completed-btn:hover {
    background-color: #6d28d9;
}

.counter-container {
    margin-top: 10px;
    text-align: center;
}

#task-counter {
    font-size: 16px;
    color: #1e3a8a;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex: 1;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.task-item.low-priority {
    border-left: 8px solid #90EE90;
    background-color: #f0f9f0;
}

.task-item.medium-priority {
    border-left: 8px solid #FFA500;
    background-color: #fff5e0;
}

.task-item.high-priority {
    border-left: 8px solid #FF6347;
    background-color: #fbe0e0;
}

.task-item:hover {
    background-color: #f9f9f9;
}

.task-item.completed {
    color: #888;
    text-decoration: line-through;
}

.task-item label {
    flex: 1;
    margin-left: 12px;
}

.task-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    appearance: none;
    border: 2px solid #1e3a8a;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.task-checkbox:checked {
    background-color: #1e3a8a;
    border-color: #1e3a8a;
}

.task-checkbox:checked::after {
    content: '✔';
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ff0000;
    font-size: 16px;
    transition: color 0.3s;
}

.task-item button:hover {
    color: #cc0000;
}


.priority-filters {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.priority-filters button {
    padding: 10px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    flex: 1;
    margin-right: 5px;
}

.priority-filters button:last-child {
    margin-right: 0;
}

.priority-filters button:hover {
    background-color: #6d28d9;
}

#priority-counter {
    font-size: 16px;
    color: #1e3a8a;
    display: block;
    margin-top: 10px;
}

.priority-info {
    margin-bottom: 20px;
}

.priority-info h2 {
    font-size: 18px;
    color: #1e3a8a;
    margin-bottom: 10px;
}

.priority-info ul {
    list-style: none;
    padding: 0;
}

.priority-info li {
    margin-bottom: 10px;
    font-size: 16px;
}

.color-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.low-priority {
    background-color: #90EE90;
}

.medium-priority {
    background-color: #FFA500;
}

.high-priority {
    background-color: #FF6347;
}